body {
    color: blue;
    background-color: white;
    font-family: 'Fredoka One', cursive; 
}

.fieldset {
    display: flex;
    flex-direction: column;
}

#entryLog {
    display: flex;
    flex-direction: column;
}

.journalEntry {
    display: flex;
    flex-direction: column;
}
 
.footer {
    text-align: center;
    margin: 5em;
}
